# VGG-VD-19 Model
/data/imagenet-vgg-verydeep-19.mat

# IPython Checkpoints
.ipynb_checkpoints

# Python cache
__pycache__

# Tensorflow checkpoints
.ckpt

# Output images
output
comparison
test
sample/output.jpg
